@model VideoGameLibrary_v2.Models.VideoGame

@{
    ViewBag.Title = "Details";
}

<h2>@Html.DisplayFor(model => model.Name)</h2>
<div class="container">
    <div class="details-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.ReleaseDate)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.ReleaseDate)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Developer)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Developer)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Publisher)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Publisher)
                        </dd>

                    </dl>
                </div>

                <div class="col-md-6">
                    <iframe class="embed-responsive" width="560" height="315" src="@Html.DisplayFor(model => model.YouTubeEmbedLink)" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
        </div>


        <div class="container">
            <input type="button" value="Back" class="btn btn-primary btn-theme" onclick="location.href='@Url.Action("Index", "VideoGamesList")'" />
        </div>
    </div>
</div>