@model IEnumerable<Microsoft.AspNet.Identity.EntityFramework.IdentityRole>

@{
    ViewBag.Title = "User Roles";
}

<h2>User Role Management</h2>

<div class="form-group">
    <input type="button" value="Add New" onclick="location.href='@Url.Action("Create", "IdentityRole")'" class="btn btn-success" />
</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var role in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => role.Name)
        </td>
        <td>
            <div class="form-group">
                <input type="button" value="Details" class="btn btn-info" onclick="location.href='@Url.Action("Details", "IdentityRole", new { id = role.Id })'" />
            </div>
        </td>
    </tr>
}

</table>
<div class="form-group">
    <input type="button" value="Back" class="btn btn-primary marginTop" onclick="location.href='@Url.Action("Admin", "Home")'" />
</div>