@model VideoGameLibrary_v2.Models.VideoGameReviewViewModel

@{
    ViewBag.Title = "Create Review";
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.DateCreated, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DateCreated, new { htmlAttributes = new { @class = "form-control textbox-color01" } })
                @Html.ValidationMessageFor(model => model.DateCreated, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Content, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Content, new { htmlAttributes = new { @class = "form-control textbox-color01", @placeholder = "Add review text here..." } })
                @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.VideoGameId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">                
                @Html.DropDownListFor(model => model.VideoGameId, (SelectList)ViewBag.SelectVideoGameList, new { @class = "dropdown-item textbox-color01", @placeholder = "Select a Video Game" })
                @Html.ValidationMessageFor(model => model.VideoGameId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" value="Back to List" class="btn btn-primary" onclick="location.href='@Url.Action("Index", "Reviews")'" />
                <input type="button" value="Clear All" class="btn btn-warning" onclick="location.href = '@Url.Action("Create", "Reviews")'" />
                <input type="submit" value="Add" class="btn btn-success" />
            </div>
        </div>
    </div>
}
