@model IEnumerable<VideoGameLibrary_v2.Models.Review>

@{
    ViewBag.Title = "Video Game Reviews";

    var videoGame = (VideoGameLibrary_v2.Models.VideoGame)ViewBag.VideoGame;
}

<h2>Video Game Reviews for :</h2>
<h4>@videoGame.Name</h4>

<table class="table">
    @foreach (var review in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => review.DateCreated) <br />
                @Html.DisplayFor(modelItem => review.Content) <br />
            </td>
        </tr>
    }
</table>

<div class="form-group">
    @if (User.IsInRole("Reviewer") || User.IsInRole("Site Admin") || User.IsInRole("Video Game Admin"))
    {
        <input type="button" value="Add a Review" class="btn btn-success" onclick="location.href='@Url.Action("UserCreate", "Reviews", new { videoGameId = videoGame.Id })'" />
        <input type="button" value="Back" class="btn btn-primary" onclick="location.href='@Url.Action("Index", "VideoGames")'" />
    }
    else
    {
        <input type="button" value="Back" class="btn btn-primary" onclick="location.href='@Url.Action("Index", "VideoGamesList")'" />
    }
</div>

